# Virtual Environment
.venv/
venv/
env/

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
*.pyc

# Project-specific
data/raw/
models/
checkpoints/

# IDE
.vscode/
.idea/
*.swp
*.swo

# Distribution / packaging
dist/
build/
*.egg-info/

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb_checkpoints/

# Logs and databases
*.log
*.sqlite
*.db

# Environment variables
.env
.env.* 